<!DOCTYPE html>
<html lang="en">
<head>
  <title>post challenge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body class="text-center">
<h1>Post challenge</h1>
<br />
<label>Enter the radius of your circle: <input type="number" [(ngModel)]="radius"> <button (click)="getCircumference(radius)">Calculate</button> </label>
<br />
<br />
<p>The circumference is: {{circumference}}</p>
</body>
</html>
