<!DOCTYPE html>
<html lang="en">
  <head>
    <title>hello-world</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>

  <body class="text-center">
    <h1>Hello World Challenge</h1>
    <br />
    <label>Enter your name: <input type="text" [(ngModel)]="name"></label>
    <br />
    <br />
    <p>Hello, {{name}}</p>
  </body>
</html>
